## Prachi Patel - 200520109

## Problem Set - 2

 ---------------------------------------------------------------------------------------------

#### -> Que 1 - Consider the following Python module:

In [11]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [12]:
b()
a #value of a was 0 after running the b function, it became 0 + 2 = 2.

2

In [13]:
b()
a #as a was 2 then after running again b(), it became 2 + 2 = 4.

4

In [14]:
b()
a #yes again a was 4, after b(), 4 + 2 = 6.

6

#### -> Que 2 - Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

>>> fileLength('midterm.py') 
284 
>>> fileLength('idterm.py') 
Traceback (most recent call last):   
File "<pyshell#34>", line 1, in <module>    
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength     
infile = open(filename) FileNotFoundError: [Errno 2] 
No such file or directory: 'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [21]:
def file_Length(filename):
    try:
        infile = open (filename,'r')
        content = infile.read ()
        lenn = len(content)
        print (lenn)
        infile.close()
    except :
        print ("File " + format (filename) + " not found")

In [22]:
file_Length('idterm.py')

File idterm.py not found

In [27]:
file_Length("Documents/winter 2023/Data Programming/ps2/lengthtxt.txt") #maybe the interpreter location could not find

File Documents/winter 2023/Data Programming/ps2/lengthtxt.txt not found

In [28]:
file_Length("lengthtxt.txt")

123

In [29]:
file_Length("PS1.ipynb")

23660

#### -> Que 3 - Write a class named Marsupial that can be used as shown below:

>>> m = Marsupial() 
>>> m.put_in_pouch('doll') 
>>> m.put_in_pouch('firetruck') 
>>> m.put_in_pouch('kitten') 
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [53]:
class Marsupial:
    def __init__(self):
        self.list = []

    def put_in_pouch (self, item):
        return self.list.append(item)

    def pouch_contents(self):
        return self.list

In [54]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: 

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object, 

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and 

c. overloads the __str__ operator so it behaves as shown below.

In [55]:
class Kangaroo (Marsupial):
    def __init__(self,x=0,y=0):
        self.list = []
        self.x = x
        self.y = y      
    def jump (self,dx,dy):
        self.x+=dx
        self.y+=dy      
    def __str__(self): 
        return ('I am a Kangaroo located at coordinates ({},{})'.format(self.x, self.y))

In [56]:
k = Kangaroo(0,0)
print (k)

I am a Kangaroo located at coordinates (0,0)

In [57]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [58]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

In [59]:
k.jump(2,0)
print(k)

I am a Kangaroo located at coordinates (5,0)

#### -> Que 4 - Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence: 
##### x = {  𝑥/2                    𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 3𝑥+1               𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑 
#### Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [64]:
def collatz(x):
    print (x)
    if x%2 == 1:
        if x != 1:
            x = int(3*x +1)
            collatz(x)
    else:
        x = int(x/2)
        collatz(x)

In [65]:
collatz(1)

1

In [66]:
collatz(10)

10
5
16
8
4
2
1

In [68]:
collatz(4)

4
2
1

In [69]:
collatz(3)

3
10
5
16
8
4
2
1

In [70]:
collatz(6)

6
3
10
5
16
8
4
2
1

#### -> Que 5 - Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [73]:
x = []
def binary (n):
    if n == 0:
        print(0)
    elif n == 1:
        x.append(str(1))
        x.reverse()
        y= ''.join(x)
        print (y)
        x.clear()
    elif n!=1:
        z = n%2
        x.append(str(z))
        n = n//2
        binary (n)

In [74]:
binary(0)

0

In [75]:
binary(1)

1

In [76]:
binary(3)

11

In [77]:
binary(9)

1001

In [78]:
binary(2)

10

In [80]:
binary(-1)  # when user enters negative value.

RecursionError: maximum recursion depth exceeded while getting the str of an object

#### -> Que 6 - Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [94]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.indent=0
        self.header = False
        self.b = 0
        
    def handle_starttag(self, tag, attrs):
        if tag == 'h1' or tag == 'h2':
            self.header = True
            self.b = re.findall(r'\d+',tag)
            self.indent += int(self.b[0])-1
            
    def handle_data(self, data):
        if self.header == True:
            print('{}{}'.format(self.indent*' ', data))

    def handle_endtag(self, tag):
        if tag == 'h1' or tag == 'h2':
            self.header = False

In [98]:
infile = open ('w3c.txt')
content = infile.read()
infile.close()
print(content)

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Webpage description goes here" />
  <meta charset="utf-8">
  <title>Change_me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

	<h1>W3C Mission</h1>
	<h2>Principles</h2>



</body>
</html>

#### -> Que 7 - Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent,  should be used to indicate the depth of a URL.

In [99]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    

    def __init__(self, url):
        
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collecting HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        
        return self.links

In [100]:
def webdir(url, depth, indent):
        for i in range(indent+1):
            print("\t",end='')
        print(url)
    
        
        content = urlopen(url).read().decode()
        collector = Collector(url)
        collector.feed(content)
        urls = collector.getLinks()
    
        for o in range(depth):
            try:                    
                webdir(urls[o], depth-1, indent+1)
            except:
                pass

In [101]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html',2,0)

	http://reed.cs.depaul.edu/lperkovic/one.html
		http://reed.cs.depaul.edu/lperkovic/two.html
			http://reed.cs.depaul.edu/lperkovic/four.html
		http://reed.cs.depaul.edu/lperkovic/three.html
			http://reed.cs.depaul.edu/lperkovic/four.html

In [106]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html',2,2)

			http://reed.cs.depaul.edu/lperkovic/one.html
				http://reed.cs.depaul.edu/lperkovic/two.html
					http://reed.cs.depaul.edu/lperkovic/four.html
				http://reed.cs.depaul.edu/lperkovic/three.html
					http://reed.cs.depaul.edu/lperkovic/four.html

In [107]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html',1,0)

	http://reed.cs.depaul.edu/lperkovic/one.html
		http://reed.cs.depaul.edu/lperkovic/two.html

##### *****

SQL part - installation and updation for que 8

In [116]:
!python3 --version

Python 3.11.2

In [117]:
!python3 -m pip --version

pip 22.3.1 from /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/pip (python 3.11)

In [118]:
!python3 -m ensurepip --default-pip

Looking in links: /var/folders/58/_jqs5mks0wd9sdp783dx8nhc0000gn/T/tmph3u0e4s2
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (65.5.0)
Requirement already satisfied: pip in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (22.3.1)

In [120]:
!python3 -m venv tutorial_env

In [124]:
!python3 -m pip install "SomeProject"

ERROR: Could not find a version that satisfies the requirement SomeProject (from versions: none)
ERROR: No matching distribution found for SomeProject

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: pip3 install --upgrade pip

In [125]:
!pip3 install --upgrade pip

Requirement already satisfied: pip in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (22.3.1)
Collecting pip
  Downloading pip-23.0.1-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 31.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.3.1
    Uninstalling pip-22.3.1:
      Successfully uninstalled pip-22.3.1
Successfully installed pip-23.0.1

In [128]:
## installation of sql
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython-sql) (8.10.0)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-2.0.4-cp311-cp311-macosx_11_0_arm64.whl (1.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 27.5 MB/s eta 0:00:00a 0:00:01
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.8/42.8 kB 6.2 MB/s eta 0:00:00
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: backcall in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython>=1.0->ipython-sql) (3.0.37)
Requirement already satisfied: pygments>=2.4.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython>=1.0->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython>=1.0->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython>=1.0->ipython-sql) (5.9.0)
Requirement already satisfied: pexpect>4.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from prompt-toolkit<3.1.0,>=3.0.30->ipython>=1.0->ipython-sql) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Installing collected packages: prettytable, typing-extensions, sqlparse, sqlalchemy, ipython-sql
  DEPRECATION: prettytable is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for prettytable ... done
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlalchemy-2.0.4 sqlparse-0.4.3 typing-extensions-4.5.0

In [129]:
!pip install pysqlite3

Collecting pysqlite3
  Using cached pysqlite3-0.5.0.tar.gz (40 kB)
  Preparing metadata (setup.py) ... done
Installing collected packages: pysqlite3
  DEPRECATION: pysqlite3 is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for pysqlite3 ... error
  error: subprocess-exited-with-error

  × Running setup.py install for pysqlite3 did not run successfully.
  │ exit code: 1
  ╰─> [43 lines of output]
      running install
      /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/setuptools/command/install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
        warnings.warn(
      running build
      running build_py
      creating build
      creating build/lib.macosx-10.9-universal2-cpython-311
      creating build/lib.macosx-10.9-universal2-cpython-311/pysqlite3
      copying pysqlite3/__init__.py -> build/lib.macosx-10.9-universal2-cpython-311/pysqlite3
      copying pysqlite3/dbapi2.py -> build/lib.macosx-10.9-universal2-cpython-311/pysqlite3
      running build_ext
      Builds a C extension linking against libsqlite3 library
      building 'pysqlite3._sqlite3' extension
      creating build/temp.macosx-10.9-universal2-cpython-311
      creating build/temp.macosx-10.9-universal2-cpython-311/src
      clang -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -arch arm64 -arch x86_64 -g -Qunused-arguments -DMODULE_NAME=\"pysqlite3.dbapi2\" -I/usr/include -I/Library/Frameworks/Python.framework/Versions/3.11/include/python3.11 -c src/blob.c -o build/temp.macosx-10.9-universal2-cpython-311/src/blob.o
      clang -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -arch arm64 -arch x86_64 -g -Qunused-arguments -DMODULE_NAME=\"pysqlite3.dbapi2\" -I/usr/include -I/Library/Frameworks/Python.framework/Versions/3.11/include/python3.11 -c src/cache.c -o build/temp.macosx-10.9-universal2-cpython-311/src/cache.o
      clang -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -arch arm64 -arch x86_64 -g -Qunused-arguments -DMODULE_NAME=\"pysqlite3.dbapi2\" -I/usr/include -I/Library/Frameworks/Python.framework/Versions/3.11/include/python3.11 -c src/connection.c -o build/temp.macosx-10.9-universal2-cpython-311/src/connection.o
      src/connection.c:1107:10: warning: 'sqlite3_create_window_function' is only available on macOS 10.15 or newer [-Wunguarded-availability-new]
          rc = sqlite3_create_window_function(
               ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/sqlite3.h:5365:16: note: 'sqlite3_create_window_function' has been marked as being introduced in macOS 10.15 here, but the deployment target is macOS 10.9.0
      SQLITE_API int sqlite3_create_window_function(
                     ^
      src/connection.c:1107:10: note: enclose 'sqlite3_create_window_function' in a __builtin_available check to silence this warning
          rc = sqlite3_create_window_function(
               ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      src/connection.c:1328:10: error: implicit declaration of function 'sqlite3_enable_load_extension' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
          rc = sqlite3_enable_load_extension(self->db, onoff);
               ^
      src/connection.c:1328:10: note: did you mean 'pysqlite_enable_load_extension'?
      src/connection.c:1315:18: note: 'pysqlite_enable_load_extension' declared here
      static PyObject* pysqlite_enable_load_extension(pysqlite_Connection* self, PyObject* args)
                       ^
      src/connection.c:1352:10: error: implicit declaration of function 'sqlite3_load_extension' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
          rc = sqlite3_load_extension(self->db, extension_name, 0, &errmsg);
               ^
      src/connection.c:1352:10: note: did you mean 'pysqlite_load_extension'?
      src/connection.c:1338:18: note: 'pysqlite_load_extension' declared here
      static PyObject* pysqlite_load_extension(pysqlite_Connection* self, PyObject* args)
                       ^
      1 warning and 2 errors generated.
      error: command '/usr/bin/clang' failed with exit code 1
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-install-failure

× Encountered error while trying to install package.
╰─> pysqlite3

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.

In [130]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp311-cp311-macosx_11_0_arm64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 49.6 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 kB 44.5 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.2-cp311-cp311-macosx_11_0_arm64.whl (13.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.8/13.8 MB 71.7 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1

In [133]:
#### -> Que 8 - Write SQL queries on the below database table that return:

In [144]:
import pandas as pd
import sqlite3

In [163]:
conn = sqlite3.connect('database.db')

In [164]:
cursor = conn.cursor()

In [165]:
create_table_query = '''
CREATE TABLE MyTable (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
'''
cursor.execute(create_table_query)

In [166]:
insert_data_query = '''
INSERT INTO MyTable (name, age)
VALUES (?, ?)
'''
data = [('John', 28), ('Jane', 35), ('Bob', 42)]
cursor.executemany(insert_data_query, data)

In [168]:
conn.commit()

In [169]:
select_query = '''
SELECT * FROM MyTable
'''
cursor.execute(select_query)
result = cursor.fetchall()
print(result)

[(1, 'John', 28), (2, 'Jane', 35), (3, 'Bob', 42)]

In [170]:
onn = sqlite3.connect('database8.db')

In [171]:
cursor = conn.cursor()

In [172]:
create_table_query = '''
CREATE TABLE que8 (
    city varchar(30),
    country varchar(30),
    season varchar(30),
    tem_c float,
    rain_mm float
)
'''
cursor.execute(create_table_query)

In [173]:
insert_data_query = '''
INSERT INTO que8 (city, country, season, tem_c, rain_mm)
VALUES (?, ?, ?, ?, ?)
'''
data = [('Mumbai','India','Winter',24.8 , 5.9  ),('Mumbai','India','Spring',28.4 , 16.2     ),('Mumbai','India','Summer', 27.9 ,1549.4   ),('Mumbai','India','Fall',27.6,346.0  ),('London','Uk','Winter', 4.2 ,207.7   ),('London','Uk','Spring', 8.3 , 169.6    ),('London','Uk','Summer', 15.7  ,157.0   ),('London','Uk', 'Fall',10.4 ,218.5   ),('Cairo','Egypt','Winter',13.6 ,16.5    ),('Cairo','Egypt','Spring', 20.7 , 6.5   ),('Cairo','Egypt','Summer', 27.7 , 0.1  ),('Cairo','Egypt','Fall', 22.2  ,4.5  )]
cursor.executemany(insert_data_query, data)

In [174]:
conn.commit()

In [175]:
select_query = '''
SELECT * FROM que8
'''
cursor.execute(select_query)
result = cursor.fetchall()
print(result)

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'Uk', 'Winter', 4.2, 207.7), ('London', 'Uk', 'Spring', 8.3, 169.6), ('London', 'Uk', 'Summer', 15.7, 157.0), ('London', 'Uk', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

##### a)  -  All the temperature data.

In [177]:
cursor.execute("SELECT tem_c FROM que8")
result = cursor.fetchall()
print(result)

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

##### b) All the cities, but without repetition.

In [178]:
cursor.execute("SELECT DISTINCT City FROM que8")
'result = cursor.fetchall()
print(result)

[('Mumbai',), ('London',), ('Cairo',)]

##### c) All the records for India.

In [181]:
cursor.execute("SELECT * FROM que8 WHERE country = 'India' ")
result = cursor.fetchall()
print(result)

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

##### d)  All the Fall records.

In [182]:
cursor.execute("SELECT * FROM que8 WHERE season = 'Fall' ")
result = cursor.fetchall()
print(result)

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'Uk', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

##### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [184]:
cursor.execute("SELECT city,country,season,rain_mm FROM que8 WHERE rain_mm BETWEEN 200 AND 400 ")
result = cursor.fetchall()
print(result)

[('Mumbai', 'India', 'Fall', 346.0), ('London', 'Uk', 'Winter', 207.7), ('London', 'Uk', 'Fall', 218.5)]

##### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [195]:
cursor.execute("SELECT city, country From que8 WHERE season = 'Fall' AND tem_c <= 20 ")
result = cursor.fetchall()
print(result)

[('London', 'Uk')]

##### g) The total annual rainfall for Cairo.

In [185]:
cursor.execute("SELECT SUM(rain_mm) FROM que8 WHERE city = 'Cairo' ")
result = cursor.fetchall()
print(result)

[(27.6,)]

##### h) The total rainfall for each season.

In [186]:
cursor.execute("SELECT SUM(rain_mm) FROM que8 WHERE season = 'Winter' ")
result = cursor.fetchall()
print(result)

[(230.1,)]

In [187]:
cursor.execute("SELECT SUM(rain_mm) FROM que8 WHERE season = 'Spring' ")
result = cursor.fetchall()
print(result)

[(192.29999999999998,)]

In [188]:
cursor.execute("SELECT SUM(rain_mm) FROM que8 WHERE season = 'Summer' ")
result = cursor.fetchall()
print(result)

[(1706.5,)]

In [189]:
cursor.execute("SELECT SUM(rain_mm) FROM que8 WHERE season = 'Fall' ")
result = cursor.fetchall()
print(result)

[(569.0,)]

##### -> Que 9 -

In [197]:
words = ['The','quick','brown','fox','jumps','over','the','lazy','dog']

In [198]:
uppW = [word.upper() for word in words] #a
print(uppW)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [199]:
lowW = [word.lower() for word in words] #b
print(lowW)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [200]:
lengW = [len(word) for word in words] #c
print(lengW)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [201]:
mixW= [(word.upper(),word.lower(),len(word)) for word in words] #d
print(mixW)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

In [202]:
greW4 = [word for word in words if len(word)>= 4] #e
print(greW4)

['quick', 'brown', 'jumps', 'over', 'lazy']